article
  padding-bottom: 2em

  header
    .posttitle
      margin-top: 0
      margin-bottom: 0
      text-transform: none
      font-size: 1.5em
      line-height: 1.25

    .meta
      margin-top: 0
      margin-bottom: 1rem

    .meta *
      color: $color-accent-3
      font-size: .85rem

    .author
      text-transform: uppercase
      letter-spacing: .01em
      font-weight: 700

    .postdate
      display: inline

  .content
    h2:before
      position: absolute
      top: -4px
      left: -1rem
      color: $color-accent-1
      content: "#"
      font-weight: bold
      font-size: 1.2rem

    h3:before
      position: absolute
      left: -1.4rem
      color: $color-accent-1
      content: "##"
      font-weight: bold
      font-size: 1rem

    img
    video
      display: block
      margin: auto
      max-width: 100%
      height: auto

    /* http://webdesignerwall.com/tutorials/css-elastic-videos */
    .video-container
      position: relative
      overflow: hidden
      padding-top: (9 / 16 * 100)% // 16:9 ratio
      height: 0

      iframe, object, embed
        position: absolute
        top: 0
        left: 0
        margin-top: 0
        width: 100%
        height: 100%

    blockquote
      margin: 1rem 10px
      padding: .5em 10px
      background: inherit
      color: $color-quote
      quotes: "\201C" "\201D" "\2018" "\2019"
      font-weight: bold

      p
        margin: 0 0 0.8em 0

      &:before
        margin-right: .25em
        margin-left: -0.5em
        color: lighten($color-meta, 20%)
        content: "\201C"
        vertical-align: -.4em
        font-size: 3em
        line-height: .1em

      footer
        margin: 0
        color: $color-meta
        font-size: 0.8em
        text-align: right

        a
          background-image: linear-gradient(transparent, transparent 5px, $color-meta 5px, $color-meta)
          color: $color-meta

        a:hover
          background-image: linear-gradient(transparent, transparent 4px, lighten($color-meta, 20%) 4px, lighten($color-meta, 20%))
          color: lighten($color-meta, 20%)

        cite
          &:before
            padding: 0 .5em
            content: "—"

    .pullquote
      margin: 0
      width: 45%
      text-align: left

      &.left
        margin-right: 1em
        margin-left: .5em

      &.right
        margin-right: .5em
        margin-left: 1em

    .caption
      position: relative
      display: block
      margin-top: .5em
      color: $color-meta
      text-align: center
      font-size: .9em

.posttitle
  text-transform: none
  font-size: 1.5em
  line-height: 1.25

.article-tag
  .tag-link
    &:before
      content: "#"
    underline(10px, $color-link)

.article-category
  .category-link
    underline(10px, $color-link)

@media (min-width: 480px)
  .article-tag,
  .article-category
    display: inline

    &:before
      content: "|"

.foto-perfil
  margin: 0.5em 0 0 1.5em !important
  max-width: 45% !important

.bot-area
  display: none

.capa-livro img
  max-width: 250px

.capa-livro
  float: left
  margin-top: 1em
  margin-right: 1em
  margin-bottom: 1em

  a
    text-decoration: none !important
    background-image: unset

  a:hover
    text-decoration: none !important
    background-image: unset

@media (max-width: 520px)
  .info-livro:before
    clear: both

  .capa-livro img
    max-width: 100%

.info-livro
  h1
    margin-top: 1rem
    text-transform: uppercase

  p
    line-height: 1em
    margin-top: 0.4em
    margin-bottom: 0.4em

.super-social
  font-size: 0.8em
  text-align: right

  a
    color: lighten($color-meta, 20%)
