<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

<h2 class="arquivo"><%= page.title %></h2>


<div class="super-social">
  <%- partial('_partial/social') %>
</div> 


  <div class="content" itemprop="articleBody">
  
    <%- page.content %>
          
  </div>


</article>
