<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <h2 class="arquivo"><%= page.title %></h2>

  <div class="content" itemprop="articleBody">

    <%- page.content %>

    <% page.inks.forEach(function(ink, i) { %>


        <h2 class="inktober-tema">
          <strong>tema:</strong> <%= ink.tema %>
        </h3>
        <p class="desc-ink">
          » <%= ink.desc %> 
          </p>

        <div class="article-gallery">

        <% ink.links.forEach(function(link, i) { %>

          <a class="gallery-item gallery" data-featherlight="image" href="<%- link %>.png" rel="gallery_<%= page._id %>">
              <img src="<%- link %>_IMGP.png" itemprop="image" />
          </a>

        <% }) %>

        </div>

    <% }) %>

  </div>

</article>
