<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
    <div class="meta">
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate' }) %>
      </div>
  </header>
  <%- partial('_partial/post/gallery') %>
  <div class="content e-content" itemprop="articleBody">
    <%- page.content %>
  </div>
</article>
<div class="post-home">
<p class="center short-line"><a class="small" href="<%- url_for("/blog") %>"><i class="fas fa-arrow-left"></i> blog</a></p>
<p class="center short-line"><a class="small" href="<%- url_for("/") %>"><i class="fas fa-home"></i> página inicial</a></p>
</div>
<%- partial('_partial/comments') %>


