<% if (post.date) { %>
    <div class="<%= class_name %>">
      <% if (is_post()) { %>
        <a class="simple-link u-url" href="<%- url_for(post.path) %>"><i class="fas fa-link"></i></a> | 
        <time class="dt-published" datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, config.date_format) %></time>
        <% if (theme.post.show_updated && post.date !== post.updated) { %>
        (atualizado em: <time datetime="<%= date_xml(post.updated) %>" itemprop="dateModified"><%= date(post.updated, config.date_format) %></time>)
        <% } %>
      <% } else { %>
        <% if (is_home() && theme.posts_overview.sort_updated || is_archive() && theme.archive.sort_updated ) { %>
          <time datetime="<%= date_xml(post.updated) %>" itemprop="dateModified"><%= date(post.updated, config.date_format) %></time>
        <% } else { %>
          <time class="dt-published" datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, config.date_format) %></time>
        <% } %>
      <% } %>
    </div>
<% } %>
