<!-- jquery -->
<%- js('https://code.jquery.com/jquery-latest.js') %>
<%- js('js/featherlight.js') %>
<%- js('js/featherlight.gallery.js') %>

<%- js('js/jquery.justifiedGallery.js') %>
<%- js('js/justifiedGallery.js') %>

<%- js('js/main') %>
    
<!-- search -->
<% if (config.search && (page.search || page.type === "search")){ %>
  <%- js('js/search.js') %>
  <script type="text/javascript">
  $(function() {

    var $inputArea = $("input#search-input");
    var $resultArea = document.querySelector("div#search-result");

    $inputArea.focus(function() {
      var search_path = "<%= config.search.path %>";
      if (search_path.length == 0) {
        search_path = "search.xml";
      }
      var path = "<%= config.root %>" + search_path;
      searchFunc(path, 'search-input', 'search-result');
    });

    $inputArea.keydown(function(e) {
      if (e.which == 13) {
        e.preventDefault();
      }
    });

    var observer = new MutationObserver(function(mutationsList, observer) {
      if (mutationsList[0].addedNodes) {
        $(".search-no-result").show(200);
      } else {
        $(".search-no-result").hide();
      }
    });

    observer.observe($resultArea, { childList: true });

  });
  </script>
<% } %>
